$primaryColor: #FF6060;
.immoSoloPage {
    color: $primaryColor;
    padding: 40px;
    &_image {
        border-radius: 25px;
        width: 100%;
        min-width: 335px;

    }
    &_ulTags{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding:0;
    }
    &_tags {
        border: 2px solid $primaryColor;
        background-color: $primaryColor;
        border-radius: 15px;
        color: white;
        min-width: 84px;
        height: 18px;
        text-align: center;
        margin-right: 5px;
        padding: 0;
    }
    &_info {
        border-radius: 15px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 5px;
        ul{
            padding-left: 0;
        }
    }
    /*:active {
        border-radius: 5px;
    }*/
    &_inactiveElt {
        display: none;
    }
    &_activeElt{
        background: rgba(0, 0, 0, 0.1);
        margin: 0;
        border-radius: 5px;
        padding-top: 10px;
    }
    p, ul {
        line-height: 150%;
    }
    button {
        border: none;
        background: none;
    }
}
//Slide Images
.slideShow_container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    /*.slide {
        opacity: 0;
        transition-duration: 1s ease;
    }*/
    
    /* Fading animation */
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }
}
.slide_Captation{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

//Btn Slide Caroussel
.btn_slide {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    user-select: none;
    background: none;
    border: none;
    img {
        width: 96px;
    }
}
.next {
    right: 0;
    :hover {
        background-color: rgba(0,0,0,0.8)
    }
}
.prev {
    :hover {
        background-color: rgba(0,0,0,0.8)
    }
}
.slideBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .slidRate{
        text-align: right;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
        .host {
            display: flex;
            align-items: center;
            .hostPicture {
                width: 93px;
                border-radius: 50%;
            }
            h2 {
                font-size: 18px;
                margin-right: 5px;
                
            }
        }
    }
    .hostName {
        width: 93px;
    }
    
}
.dropdown {
    border-radius: 10px;
    color: white;
    background-color: #FF6060;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
